# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
PORT=""
EMAIL_SERVICE_KEY=""
SALT_ROUNDS=""
TOKEN_EXPIRY=""
JWT_SECRET_KEY=""
MONGO_URI=""
DB_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
MESSAGE_SERVICE_URI=""
SERVICE_KEYS=""
MESSAGE_SERVICE_APP_ID=""
USER_SERVICE_APP_ID=""